<% if user_signed_in? %>
<h1>List of all Survey</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% survey_preview.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= link_to 'Answer the Survey', preview_survey_path(survey), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<h1>Login to view surveys</h1>
<% end %>