<h1>preview</h1>


<%= form_for([@survey, @survey.answers.build]) do |f| %>
  <p>
    <%= f.label :question_id %><br>
    <%= f.select(:question_id, listing_question(@survey.id), :prompt => 'Select Question') %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>